html {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


//body {
//  position: relative;
//  top: 0;
//  left: 0;
//  margin: 0;
//  padding: 0;
//}
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box;
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
//}
//
//

body .el-table th.gutter {
  display: table-cell!important;
}


.app {
  position: absolute;
  top: 0;
  left: 0;
  $solidBorder: 1px solid #eee;
  $sideCollapsedWidth: 66px;
  $sideExpandedWidth: 230px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;;
  font-size: 1em;
  width: 100%;
  height: 100%;
  min-width: 900px;
  border: $solidBorder;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  &-side {
    width: 230px;
    height: 100%;
    font-weight: 700;
    border-right: $solidBorder;
    &-left {
      //background-color: rgb(238, 241, 246);
      background-color: rgb(38,52,69);
    }


    .el-menu-item {
      background-color: #263445;
      color: white;
    }

    .el-menu-item.is-active {
      background-color: #263445;
      color: white;
    }

    .el-submenu {
      background-color: #263445;
      color: red;
    }

    .el-submenu.is-active {
      border-left: 5px solid #263445;
    }

    &-logo {
      height: 60px;
      text-align: center;
    }
    &-collapsed {
      width: 66px!important;
    }
    &-expanded {
      width: 220px!important;
    }
  }
  &-header {
      width: 100%;
      height: 60px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      border-bottom: $solidBorder;
      &-userinfo {
          position: absolute;
          right: 0;
          margin-right: 25px;
          display: flex;
          flex-flow: row nowrap;
          height: 60px;
          justify-content: flex-start;
          align-items: center;
       }
  }
  &-body {
      font-size: 1em;
      width: 100%;
      height: 100%;
      padding: 20px;
      overflow-y: scroll;
      background-color: rgb(255,245,238);
  }
  &-footer {
      width: 100%;
      height: 60px;
  }
}


.inline-block {
  display: inline-block;
}
